<!--Header Content-->
    <img src="/images/header.png" alt="stock image of person walking a dog on sidewalk" class="headerImg">
    <h1> Walkies </h1>
    <!--Main Content-->
    <div class="container">
        <div class="lead" id="currentDay">
        </div><br>
        <div class="viewClients topBtn">
            View Client List
        </div>
        <div class="viewHome topBtn">
            Home
        </div>
        <!-- Employees List-->
        <div class="employeesBox">
            <p class="employeeList"><b><u>Employees Scheduled</u></b><br> Pat Talbot<br> Sam Incandenza<br> Teyana Randalls<br>
            </p>
        </div><br><br>

        <!-- Front Page !-->
        <div class="homePage ">
            <div class="dogsWalking">
                <ol class="clientList">
                {{#each dogs}}
                {{#if needsWalk}} 
                {{> dogs/dogs-block needsWalk=false}}
                {{/if}}
                {{/each}}
                </ol> 
            </div>
        </div><br>
        

        <!--Client List-->
        <div class="dogBox hidePage">
            <div class="addDogButton"><button class="topBtn">Add New Dog to Client List</button></div><br>
            <ol class="clientList">
                {{#each dogs}}
                {{#dataValues}} 
                {{> dogs/dogs-block}}
                {{/dataValues}}
                {{/each}}
                </ol> 
        </div> 

        <!--Add Dog Form-->
        <div class="addForm hidePage">
            <div class="formHead"><p class="exit"><b>X</b></p></div>
            <form method="post" action="">
            <li id="li_1" >
            <label class="description" for="dog_Name">Dog's Name </label>
            <div>
                <input id="dog_Name" name="dog_Name" class="element text small" type="text" maxlength="255" value=""/> 
            </div> 
            </li>		<li id="li_2" >
            <label class="description" for="breed">Breed </label>
            <div>
                <input id="breed" name="breed" class="element text medium" type="text" maxlength="255" value=""/> 
            </div> 
            </li>		<li id="li_3" >
            <label class="description" for="owner_Name">Owner's Name </label>
            <div>
                <input id="owner_Name" name="owner_Name" class="element text medium" type="text" maxlength="255" value=""/> 
            </div> 
            </li>		<li id="li_4" >
            <label class="description" for="address">Address </label>
            <div>
                <input id="element_4" name="element_4" class="element text large" type="text" maxlength="255" value=""/> 
            </div>
            </li>		<li id="li_5" >
            <label class="description" for="phone_number">Phone Number </label>
            <div>
                <input id="element_5" name="element_5" class="element text medium" type="text" maxlength="255" value=""/> 
            </div> 
            </li>		<li id="li_6" >
            <label class="description" for="extra_notes">Extra Notes: </label>
            <div>
                <textarea id="element_6" name="element_6" class="element textarea small" type="text" maxlength="355" value=""></textarea> 
            </div>
                        </li>		
            
                
                        <li class="buttons">
                    <input type="hidden" name="form_id" value="18945" />
                    
                    <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
            </li>
                </ul>
            </form>	
        </div>

        <!--Footer-->
        <img src="/images/bottompaw.png" alt="line of paw prints" class="bottomPaws">
    </div>
   